body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #DEE1DD;
  color: #28363D;
}

.container {
  margin: 30px auto;
  overflow: auto;
  text-align: center;
}

.header {
  margin-bottom: 20px;
  text-align: center;
  background-color: #6D9197;
  width: 100%;
  padding: 10px;
}

.header h1 {
  margin: 0;
}

.cell {
  margin: 2px;
  width: 180px;
  height: 180px;
  border: 1px solid #28363D;
  display: inline-block;
  cursor: pointer;
}

.cell span {
  font-size: 50px;
  position: relative;
  top: 30%;
}